{% load staticfiles %}
<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  <title>My django blog</title>
  <meta name="description" content="Abdhan Django Blog">
  <meta name="author" content="abdhan">

  <link rel="stylesheet" href="{% static 'css/blog.css' %}">

  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
    <script src="js/scripts.js"></script>
    <div class="cyan lighten-1">
    <div class=''>
        <div class="row">
          <div class="s12 m10">
           <h1>Django Boys</h1>
         </div>
       </div>
     </div>
   </div>

   <div class="container">
    {% for post in posts %}
    <div class="row">
      <div class="s12 m10">
        <h3>{{ post.title }}</h3>
        <p><i>{{ post.published_date }}</i></p>
        <p>{{ post.text|linebreaks }}</p>
      </div>
    </div>
    {% endfor %}
  </div>






  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2016 Copyright abdhan
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>




</body>
</html>
